
#dtl{
    display: flex;
    float: left;
    padding: 20px;
}
#dtl > div{
    margin: 40px;
}
#b1{
    margin: 50px;
}

// voting css
.vote{
  margin: 10px;
  display: flex;
  margin: 10px;
}
#like{
  margin: 10px;
}
#unlike{
  margin: 10px;
}
#back{
  margin: 10px;
}